<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="service.css">
</head>
<body>
    <form method="POST" class="card">
   NAME:<input type="text" name="n1" style="margin-left: 15px;"><br><br>
   TOKEN:<input type="text" name="VIEW DEPT"><br><br>
   AGE:<input type="text" name="VIEW DEPT" style="margin-left: 18px;">
   DATE:<input type="text" name="VIEW DEPT"><br><br>
   PRESCRIPTION:<br><br><textarea name="" id="" rows="10" cols="55"></textarea>
   <div style="text-align: end;">
   <button type="submit">UPLOAD</button>
</div>
    </form>
</body>
</html>