<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="POST" class="card">
        {% csrf_token %}
        <h2>LOGIN PAGE</h2>
        username:<input type="text" name="n1"><br><br>
        password:<input type="password" name="password"><br><br>
       <button type="submit">LOGIN</button>
    </form>
</body>
</html>