{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
</head>
<body>
    <form method="post" class="card">
   NAME:<input type="text" name="name" style="margin-left: 15px;"><br><br>
   AGE:<input type="text" name="age"><br><br>
   PHONENO:<input type="text" name="phoneno"><br><br>
   DEPARTMENT:<input type="text" name="department"><br><br>
   EMAIL:<input type="text" name="email"><br><br>
   QUALIFICATION:<input type="text" name="qualification"><br><br>
   GENDER:
   <input type="radio" name="gender" value="MALE"><label for="male" >Male</label> 
   <input type="radio" name="gender" value="FEMALE"><label for="female" >Female</label>
   <input type="radio" name="gender" value="OTHERS"><label for="others"name="GENDER" >others</label>
   <br><br>
   USER NAME:<input type="text" name="username"><br><br>
   PASSWORD:<input type="text" name="password"><br><br>
    <button type="submit">REGISTER</button>
    </form>
</body>
</html>