<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW</title>
    <link rel="stylesheet" href="service.css">
</head>
<body>
    <table border="2px">
        <tr>
<th> NAME </th>
<th> TOKEN </th>
<th> DOCTOR </th>
<th> DEPARTMENT </th>
<th> TIME </th>
        </tr>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
        </tr>
    </table>

    
</body>
</html>